:root {
    --bg-color: #062a46;
    --nav-footer: #021e33;
    --text: #eee;
    --dark-text: #062b48;
    --hover-btn: #204f70;
    --nav-link-border: #e95938;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--bg-color);
}

/* Start NavBar */
.navbar {
    width: 100%;
    background-color: var(--nav-footer);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.logo {
    width: 65px;
    min-height: 60px;
}

.navbar-brand-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.navbar-collapse-btn {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.navbar-collapse-btn:hover {
    background-color: var(--hover-btn);
}

.collapsed-navbar {
    background-color: var(--nav-footer);
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 62px;
    padding: 15px;
    display: none;
}

.collapsed-navbar.show {
    display: block;
}

.collapsed-navbar-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-link {
    width: 100%;
    padding: 10px 0;
    border: 2.5px solid transparent;
    border-radius: 2.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover,
.active {
    border-bottom-color: var(--nav-link-border);
}

.nav-link a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--text);
    text-wrap: nowrap;
}

/* End NavBar */

/*Start Footer */
.footer {
    width: 100%;
    background-color: var(--nav-footer);
    color: var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.footer-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* End Footer */

/* Start Index-Content */
.main-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-image: url(images/c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px;
}

.content-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 4rem;
    color: var(--text);
}

.content-description {
    font-family: cursive;
    font-weight: 450;
    font-size: 1.25rem;
    color: var(--text);
}

.pages-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.link-btn-1,
.link-btn-2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 5px;
    width: fit-content;
    height: auto;
    padding: 14px;
    margin-bottom: 5px;
    border-radius: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    transition: background-color 0.3s ease-out;
}

.link-btn-1 {
    background-color: #e95938;
    color: aliceblue;
}

.link-btn-1:hover {
    background-color: #cc3c1c;
}

.link-btn-2 {
    background-color: #38b6ff;
    color: #062a46;
}

.link-btn-2:hover {
    background-color: #1f8fd0;
}

.content-img {
    width: 100%;
}

.content-cards {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 12px;
}

.card {
    width: 100%;
    height: auto;
    background-color: rgb(212, 228, 243);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.card-info {
    width: 100%;
}

.card-info strong {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--nav-footer);
}

.card-info p {
    color: var(--nav-footer);
    font-family: cursive;
}

/* End Index-Content*/

/* Start Signals-Content */
.Signals-Container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.signals-hero {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.signals-brief {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    color: var(--dark-text);
}

.signals-brief-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    font-weight: bold;
}

.signals-brief-description {
    font-family: cursive;
}

.signal-hero-img {
    width: 100%;
    margin-right: -20px;
}

.signal-hero-img img {
    width: 100%;
    border-radius: 20px 0 0 20px;
}

.signals-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 14px;
}

.signal-card {
    background-color: #dddbdb;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    border-radius: 20px;
    padding: 10px;
}

.signal-card-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--dark-text);
}

.signal-card-description {
    color: var(--dark-text);
    font-family: cursive;
}

.signal-card img {
    width: 100%;
    max-height: 150px;
}

.why-it-matters {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.why-it-matters svg {
    min-width: 45px;
    min-height: 45px;
}

.why-section {
    background-color: var(--bg-color);
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px 0 0 20px;
    padding: 10px;
}

.why-info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    color: var(--text);
}

.why-info h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.why-info p {
    font-family: cursive;
}

.reasons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #b5d8e8;
    padding: 20px 0;
}

.reason {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 0 10px;
    border-right: 3px solid #062a46;
}

.reasons .reason:last-child {
    border-right: none;
}

.reasons:last-child {
    border-radius: 0 20px 20px 0;
}

.reason p {
    font-family: cursive;
    color: var(--dark-text);
}

/* End Signals-Content */

@media (max-width:768px) {

    /* Start Mobile NavBar */
    .navbar {
        border-bottom: 2px solid var(--nav-link-border);
    }

    .navbar-links {
        display: none;
    }

    /* End Mobile NavBar */

    /* Start Mobile Index-Contene */
    .main-content {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/c2.png);
        background-position: center;
    }

    .content-cards {
        flex-direction: column;
        gap: 1.5rem;
    }

    .content-title {
        font-size: 3rem;
    }

    .content-description {
        font-size: 0.9rem;
    }

    /* End Mobile Index-Content */

    /* Start Mobile Footer */
    .footer {
        flex-direction: column;
        gap: 10px;
        padding: 10px 20px;
    }

    /* End Mobile Footer */

    /* Start Mobile Signals-Content */

    .signals-hero {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }

    .signals-brief {
        justify-content: center;
        align-items: center;
    }

    .signals-brief-title {
        font-size: 2rem;
    }

    .signals-brief-description {
        text-align: center;
    }

    .signals-brief-description br {
        display: none;
    }

    .signal-hero-img {
        margin-right: 0;
    }

    .signal-hero-img img {
        border-radius: 20px;
    }

    .signals-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .signals-cards .signal-card:last-child {
        grid-column: span 2;
    }

    .signal-card-title {
        font-size: 1.2rem;
    }

    .why-it-matters {
        flex-direction: column;
    }

    .why-it-matters svg {
        min-width: 36px;
        min-height: 36px;
    }

    .why-section {
        width: 100%;
        border-radius: 20px 20px 0 0;
        justify-content: flex-start;
    }

    .reasons {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
    }

    .reasons:last-child {
        border-radius: 0 0 20px 20px;
    }

    .reasons .reason:nth-child(2) {
        border-right: none;
    }

    .reason p {
        font-size: 0.9rem;
    }

    /* End Mobile Signals-Content */
}

@media (min-width:769px) {

    .navbar-collapse-btn,
    .collapsed-navbar {
        display: none !important;
    }
}

@media (min-width:769px) and (max-width:1024px) {
    .main-content {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/c2.png);
        background-position: center;
    }

    .signals-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .signals-cards .signal-card:last-child {
        grid-column: span 2;
    }

    .reasons {
        grid-template-columns: repeat(2, 1fr);
    }

    .reasons .reason:nth-child(2) {
        border-right: none;
    }
}